python-dotenv==1.2.1
anthropic==0.117.0
requests==2.32.5
pypdf==6.6.0
gradio==6.3.0
google-auth
google-auth-oauthlib
google-api-python-client
apscheduler==3.11.0
pytz==2025.2
langfuse
openinference-instrumentation-anthropic